.overlayMenu {
  position:absolute;
  left:4.5em;
  top:1em;
  right:4.5em;
  background: var(--menu-background);
  color: var(--menu-font-color);
  border:1px solid var(--menu-border-color);
  z-index:2;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.overlayMenu .KeyboardMenu {
  position: relative;
  border:0;
}

/* .overlayMenu h2 {
  font-size: 10px;
  color: var(--menu-font-color);
  margin:0;
  padding: 2px 0;
  text-align:center;
  border-bottom: 1px solid #A48465;
} */
.ShopMenu {
    max-width: 350px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.top .title {
    flex: 1;
    text-align: center;
    border: 3px solid black;
    border-radius: 8px;
}

.top .title h2 {
    margin: 0;
    padding: 0;
}

.top .options {
    display: flex;
    justify-content: space-around;
    flex: 1;
    border: 3px solid black;
    border-radius: 8px;
}

.top .options button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
           
.selections {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.selections .items {
    flex: 1;
    border: 3px solid black;
    border-radius: 8px;
}

.selections .character-assets {
    flex: 1;
    border: 3px solid black;
    border-radius: 8px;
}

.item-description {
    border: 3px solid black;
    border-radius: 8px;
}

.character-sprites {
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image-wrapper {
    width: 16px;
    height: 25px;
    overflow: hidden;
}
 
.image-wrapper:first-child .character-sprite {
    height: auto;
    margin-left: -129px;
}

.image-wrapper:nth-child(2) .character-sprite {
    height: auto;
    margin-top: -48px;
    margin-left: -129px;
}

.KeyboardMenu {
  border: 1px solid var(--border-color);
  background: var(--menu-background);
  position: absolute;
}
.KeyboardMenu button {
 display: flex;
 align-items: center;
 width: 100%;
 text-align:left;
 -webkit-appearance: none;
 border:0;
 background: none;
 height: 20px;
 cursor:pointer;
 font-family:inherit;
 padding:0;
 padding-left: 1em;
 font-size: 10px;
}
.KeyboardMenu button:focus {
 background: var(--menu-selected-background);
 outline: 0;
}

.KeyboardMenu .option {
  position: relative;
 }
 .KeyboardMenu .option .right {
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-right: 3px;
 }

 .DescriptionBox {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  color: var(--menu-font-color);
  border-top: 1px solid var(--border-color);
  background: var(--menu-background);
  padding: 2px;
 }
 .DescriptionBox p {
  font-size: 10px;
  margin:0;
 }



 /* Battle specific */
.Battle .KeyboardMenu {
  right:0;
  bottom:0;
  width: 140px;
}